.caja_mayor{
    display: flex;
    padding: 30px 80px;
}
.sobre_nosotros_contenido{
    padding: 20px 20px 10px 10px;
}
.sobre_nosotros_titulo{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #4F4C4C;
    margin-bottom: 20px;
}
.sobre_nosotros_texto{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding:20px 0;
}
.sobre_nosotros_h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #4F4C4C;
}
.imagenes_operadores{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.imagen_sobre_nosotros{
    padding: 20px 30px 10px 120px;
}
.linea_sobre_nosotros{
    margin: 20px 0;
    border: 1px solid #D9D9D9;
}
@media screen and (max-width:1020px){
    .imagen_sobre_nosotros{
        display: none;
    }
    .sobre_nosotros_titulo {
        text-align: center;
    }
}